@model UrunKatalog.Entity.Urun

@{
    ViewBag.Title = "Detaylar";
}

<h2>Detaylar</h2>

<div>
    <h4>Urun</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Kategori.KategoriAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kategori.KategoriAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UrunAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UrunAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UrunAciklama)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UrunAciklama)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UrunFiyat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UrunFiyat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UrunStok)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UrunStok)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UrunResim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UrunResim)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UrunSatistami)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UrunSatistami)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UrunAnasayfa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UrunAnasayfa)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Duzenle", "Duzenle", new { id = Model.Id }) |
    @Html.ActionLink("Listeye Dön", "Index")
</p>
